h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    color: #2c2c51;
    font-family: "Poppins", sans-serif;
}

.sub-title {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(128, 128, 128);
    line-height: 1.8;
}

.shadow-large {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.slider-hover:hover {
    padding-top: 0 !important;
    transition: padding-top 250ms ease-in-out;
}

/* font-size */
.f-w-700 {
    font-weight: 700;
}

.f-s-1 {
    font-size: 1rem !important;
}

.f-s-1_125 {
    font-size: 1.125rem !important;
}

.f-s-1_25 {
    font-size: 1.25rem !important;
}

.f-s-1_5 {
    font-size: 1.5rem !important;
}

.f-s-1_75 {
    font-size: 1.75rem !important;
}

.f-s-2 {
    font-size: 2rem !important;
}

/* font-weight */
.f-w-400 {
    font-weight: 400;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}